<div class="tags-page">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header navbar-left">
                <span class="navbar-brand"
                    style="padding-left: 1em; color: rgb(255, 255, 255);" >
                    Tag Library
                </span>   
            
            </div>
            <div 
                class="navbar-right"
                style="padding-right: 1em">
                <button class="btn" *ngIf="editMode" (click)="onUpdate()">Update</button> 
                <button class="btn" *ngIf="editMode" (click)="onDeleteTag()">Delete</button>
                <button class="btn" (click)="onFetchTags()">Fetch Tags</button> 
                <button class="btn" (click)="onClearTags()">Clear All</button>
                <!-- <button class="btn" (click)="onSaveTags()">Save Tags</button> -->
            </div>
        </div>
    </nav>
        <!-- <app-tag-form></app-tag-form> -->
        
            <div class="row">
                <div class="col-xs-12">
                    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                        <div class="row">
                            <div class="col-xs-8 form-group">
                                <label for="tag">Tags:</label>
                                <input 
                                    type="text"
                                    id="tag"
                                    class="form-control"
                                    name="tagName"
                                    ngModel
                                    required>
                            </div>
                            <div class="col-sm-2">
                                <button 
                                    class="app-control" 
                                    type="submit"
                                    [disabled]="!f.valid"
                                    >
                                        <img class="plus" src="assets/add.png" alt="add tag">
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            <hr>
            <hr>
                <div class="tag-library">
                    <p *ngIf="loadedTags.length < 1">No tags available!</p>
                    <div *ngIf="loadedTags.length >= 1">
                        <span 
                            class="badge badge-dark"
                            *ngFor="let tag of loadedTags; let i = index"
                            (click)="onEditTag(i)">
                            <h5 >{{ tag.name }}</h5>
                        </span>
                    </div>
                </div>
            </div>
        
</div>

