nav {
    /* font-family: 'Helvetica Neue'; */
    outline: 1px solid rgba(0, 0, 0, 0.308);
    border: none;
    border-radius: 0%;
    background: white;
    padding: 1vh 1vh 1vh 10vh;
    transition: all 0.3s;
    margin-bottom: 0;
    font-family: mainFont;

}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.521);
    font-size: 2em; 
    padding-left: .5em;
}


i {
    font-size: large;
    padding-right: 0.4em;
}

