
<div class="container-fluid">
    <div>
        <!-- {{ playlistData.title }} -->
        <!-- <h3>Title</h3> -->
        
    </div>
    <app-overlay *ngIf="selected"></app-overlay>
    <app-modal *ngIf="showModal" (close)="onModalMenu()"></app-modal>
    <div class="core-box"> 
      
        <a  class="add" (click)="onSelected(); onAnimate()">   
            <div class="core-item">
                <img  [@coreState]="state" src="assets/plus-circle-outline.png" alt="add core">
                <div class="i-menu">

                    <div class='i-video' [@iconState]="state">
                        <a routerLink="video"><i class="bi bi-camera-reels"
                            (click)="uploadType = 'video'; showModal = true"></i></a>
                    </div>
                    <div class='i-image' [@iconState]="state">
                        <a routerLink="image"> <i class="bi bi-image"
                            (click)="uploadType = 'image'; showModal = true"></i></a>
                    </div>
                    <div class='i-song' [@iconState]="state">
                        <a routerLink="song"><i class="bi bi-music-note-beamed"
                            (click)="uploadType = 'song'; showModal = true"></i></a>
                    </div>
                    <div class='i-quote' [@iconState]="state">
                        <a routerLink="quote"><i class="bi bi-textarea-t"
                            (click)="uploadType = 'quote'; showModal = true"></i></a>
                    </div>
                </div>
            </div>
        </a>
    </div>

</div>
<a routerLink="../add-media"><button>next</button></a>