<div class="form-page">
    <div>
        <h4>Create Playlist</h4>
        <ol>
            <li>Enter Title (this may be changed later)</li>
        </ol>
    </div>
    <form [formGroup]="createPlaylist" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Playlist name: 
                <input 
                    class="form-control" 
                    type="text" 
                    name="playlistName"
                    value="New Playlist"
                    [ngModel]="defaultTitle"
                    required
                    #playlistName="ngModel"/>
                    <span class="help-block" *ngIf="!playlistName.valid && playlistName.touched">
                        Please enter a Title!</span>
            </label>
            <br>
            <!-- <label>Genre: 
                <input 
                    class="form-control" 
                    type="text" 
                    name="genreName"
                    ngModel/>
            </label>
            <br> -->
            <button 
                class="btn btn-default" 
                type="button"
                (click)='addTag()'>Add Tag</button>
            <label>Tag: 
                <input 
                    class="form-control" 
                    type="text" 
                    name="tagName"
                    ngModel/>
            </label>
            <br>
            <label for="quote">Quote:
                <textarea 
                    name="quote" 
                    class="form-control"  
                    rows="3"
                    ngModel></textarea>
            </label>
            <br>
            <button 
                type="submit">Create</button>
            
        </div>
    </form>
</div>
