<div class="row">
    
        <!-- ADD TAG -->
        <div class="col-xs-8">
            <input 
            class="form-control"
            type="text">
        </div>
       
        <div class="col-sm-2">
            <div 
                class="app-control" 
                type="button"
                (click)='onAddTag(tag)'>
                    <img class="plus" src="assets/add.png" alt="add tag">
            </div>
        </div>
<div class="col-xs-12">
        <a *ngFor="let tag of tags; let i = index">
            <span class="badge bg-secondary">
                {{ tag.name }}
                <i class="bi bi-x-circle"></i>
            </span>
        </a>
    </div>
</div>