<div class="container-fluid">
    <h4>{{ menuHeader }}</h4>
    <!-- <br> -->
    <div class="container-fluid form-box">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <textarea 
                            name="quote" 
                            rows="10"
                            class="form-control"
                            ngModel
                            required>
                        </textarea>
                    </div>
                    <button 
                        class="btn pull-right" 
                        type="submit"
                        [disabled]="!f.valid"> Save 
                    </button>
                    
                </div>
            </div>
        </form>
    </div>
</div>