.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 50;

}

.menu-box {
    position: fixed;
    top: 18vh;
    left: 44vw;
    width: 200px;
    height: 200px;
    border: solid;
    z-index: 100;
    color: white;
}
/* .edit-icons {
    display:flexbox;
    position: relative;
}
#addModal {
    background-color: rgba(0, 0, 0, 0.7);
     animation-name: fade; 
    transition: all 0.3s;
} */

i {
    color: white;
    font-size: 30px;
    padding: 5px;
}