h4 {
    margin-top: 0;
}

form {
    margin: 15px 0;
}

.form-box {
    border: 1px solid white;
}

img {
   filter: invert(1);
   padding: 13px 25px;
   max-height: 265px;
}

.preview {
    /* border: solid; */
    background-color: rgb(240, 240, 240);
    /* width: 100%; */
    margin: 10px 10px 25px 10px;
    /* height: 200px; */
    max-height: 300px;
}

.btn {
    background-color: rgb(80, 80, 80);
    color: white;
}

input, textarea {
    border: unset;
    display: flexbox;
    box-shadow: inset 1px 2px 1px rgba(0, 0, 0, 0.08);
    width: 100%;
    /* margin: 0 10px; */
    
 }