
<div class="container-fluid">
    <!-- <div class="subheader">
        <h4>Create Playlist</h4>     
        <ol>
            <li>Enter Title (this may be changed later)</li>
        </ol>
    </div> -->
    <app-add-media-menu *ngIf="selected == true" [message]="addMedia"></app-add-media-menu>
    <div class="core-box"> 
        <a class="add" (click)="onAddMedia();">   
            <div class="core-item">
                <img [ngStyle]="{ transform: selected == true ? 'rotate(-135deg)': 'none'}" src="assets/plus-circle-outline.png" alt="add core">
            </div>
        </a>
        
    </div>
    
</div>