.core-box {
    display: flex;
    justify-content: center;
    
    /* border: solid; */
}

.core-item {
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: .2px solid rgba(112, 112, 112, 0.37);
    width: 200px;
    height: 200px;
    box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.16);
}

/* img:active, img: {
    transform: rotate(45deg);
} */

img {
    display: flexbox;
    position: relative;
    border-radius: 200px;;
    width: 50px;
    margin: auto;
    opacity: .8;
    transition: all .5s ease-in-out;
    z-index: 100;
    cursor: pointer;

}

.subheader {
    display: flexbox;
    color: rgb(147, 147, 147);
    letter-spacing: 1px;
}

.edit-icons {
    display:flexbox;
    position: relative;
}

#addModal {
    background-color: rgba(0, 0, 0, 0.7);
    /* animation-name: fade; */
    transition: all 0.3s;
    opacity: 0.4;

}

.modal-content {
    background-color: black;
}

.media-menu {
    transform: rotate(45deg);
}