@import "~bootstrap-icons/font/bootstrap-icons.css";
@font-face {
    font-family: mainFont;
    src: url(/assets/Cicle/Cicle_Semi.ttf);
}
body {
    background-image: url(/assets/splash-background.png);
}
