@import "~bootstrap-icons/font/bootstrap-icons.css";
@font-face {
    font-family: mainFont;
    src: url(/assets/Cicle/Cicle_Semi.ttf);
}

body {
    background-image: url(/assets/splash-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}




input.ng-invalid.ng-touched {
	border: 1px solid rgb(21, 255, 0);
}