<div class="backdrop">
    <div class="menu-box">
        <!-- <p>{{ message }}</p> -->
        
        <a href=""><i class="bi bi-camera-reels"></i></a>
        <a href=""><i class="bi bi-card-image"></i></a>
        <a href=""><i class="bi bi-music-note-beamed"></i></a>

        <a href=""><i class="bi bi-textarea-t"></i></a>

    </div>
</div>
<!-- 
<div class="edit-icons">
    <a id="edit"
        class="add"
        type="button"
        data-toggle="modal"
        data-target="#addModal"
        onclick="document.getElementById('addModal').style.display='block'">
        <img src="assets/add.png" alt="add">
    </a>
    <div
        class="modal"
        id="addModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create New Collection</h4>
                    <button
                        onclick="document.getElementById('addModal').style.display='none'"
                        type="button"
                        class="close"
                        data-dismiss="modal">&times;</button>                   
            </div>
            <div class="modal-body">
            kniikjvcgfg
            </div>
            <div class="modal-footer">
                <button 
                    onclick="document.getElementById('addModal').style.display='none'"
                    type="button" 
                    class="btn btn-secondary" 
                    data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    </div>
</div> -->
