.sidebar {
    display: flex;
    position: absolute;
    background-color: rgba(100, 100, 100, 0.6);
    width: 70px;
    height: 100%;
    z-index: 2;

}

.app-control {
    display: inline-flexbox;
    vertical-align: middle;
    width: 70px;
    height: 70px;

}

i {
    font-size: 40px;
    position: relative;
    /* margin: 10px; */
    vertical-align: middle;
    text-align: center;
}