<div class="sidebar">
    <div>
        <!-- <div class="app-control">
            <img src="assets/keypad-outline.png" alt="public gallery">
        </div> -->
        <div class="app-control">
            <i class="bi bi-grid-3x3-gap"></i>
        </div>
        <div class="app-control">
            <a routerLink="/create-playlist">
                <i class="bi bi-plus-circle create-link"></i>
            </a>
        </div>
        <div class="bottom">
            <div class="app-control">
                <span class="border border-white">
                    <img class="rounded-circle" src="assets/image.png" alt="profile icon">
                </span>
            </div>
        </div>

    </div>
  
    

</div>
