<div class="container-fluid">
    <div>
        <!-- {{ playlistData.title }} -->
        <!-- <h3>Title</h3> -->
    </div>
    <app-overlay *ngIf="selected"></app-overlay>
    <app-modal *ngIf="showModal" (close)="onModalMenu()"></app-modal>
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <app-add-item></app-add-item>
            </div>
            <div class="col-xs-4"></div>
            <div class="col-xs-4">
                <app-add-item></app-add-item>
            </div>
        </div>
        <div class="row">
            <!-- <app-add-core></app-add-core> -->
            <app-add-item></app-add-item>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <app-add-item></app-add-item>
            </div>
            <div class="col-xs-4"></div>
            <div class="col-xs-4">
                <app-add-item></app-add-item>
            </div>
        </div>
        <a routerLink="../../view-playlist"><button>next</button></a>
   </div>
  
</div>




  

