<div class="pl-page">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header navbar-left">
                <span class="navbar-brand"
                    style="padding-left: 1em">
                    Playlist: {{ playlist.title }}
                </span>   
            
            </div>
            <div 
                class="navbar-right"
                style="padding-right: 1em">
                <button class="btn" (click)="onEdit()">Edit</button> 
                <button class="btn"(click)="onDelete()">Delete</button>
                <!-- <button class="btn" (click)="onSaveTags()">Save Tags</button> -->
            </div>
        </div>
    </nav>
    <div class="media">
        <div *ngIf="editMode">
            <app-edit-playlist></app-edit-playlist>
        </div>

        <div class="subheader">
            <h4>{{ playlist.title }}</h4>     
            <ul>
                <li>{{ playlist.description}}</li>
                <li>Tags:
                    <span *ngFor="let tag of playlist.tags" class="badge">{{ tag.name }} </span>
                </li>
            </ul>
        </div>
        
        <div class="single-view">
            <!-- <div class="media-item" style="background-image: url('{{ imagePath }}');"></div> -->
            <div class="media-item">
                <img src="" alt="" class="img-responsive">
            </div>
            <div class="media-item">
                <img src="" alt="" class="img-responsive">
            </div>
            <div class="media-item">
                <img src="" alt="" class="img-responsive">
            </div>
            <div class="media-item">
                <img src="" alt="" class="img-responsive">
            </div>
            <div class="media-item">
                <img src="" alt="" class="img-responsive">
            </div>
        </div>
    </div>
</div>
