<div class="pl-page">
    <app-view-item *ngIf="showModal" (close)="onModalMenu()"[imageUrl]="image"></app-view-item>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header navbar-left">
				<span class="navbar-brand"
					style="padding-left: 1em">
					Playlist: {{ playlist.title }}
				</span>   
			
			</div>
			<div 
				class="navbar-right"
				style="padding-right: 1em">
				<button class="btn" *ngIf="!editMode"(click)="onEdit()">Edit</button> 
				<button class="btn"(click)="onDelete()">Delete</button>
				<button *ngIf="editMode" class="btn" (click)="onCancel()">Cancel</button>
			</div>
		</div>
	</nav>
	<div class="media">
		<div *ngIf="editMode">
			<app-edit-playlist></app-edit-playlist>
		</div>

		<div class="subheader">
			<h3>{{ playlist.title }}</h3>     
			<ul>
				<li>{{ playlist.description}}</li>
				<li>Tags:
					<span *ngFor="let tag of playlist.tags" class="badge">{{ tag.name }} </span>
				</li>
			</ul>
		</div>
		<p *ngIf="playlistItems.length < 1 && !isFetching">No items added!</p>
		<p *ngIf="isFetching">Loading...</p>
		<!-- <div > -->

		<div class="single-view" *ngIf="!isFetching">
			<!-- <div *ngFor="let item of playlistItems; let i = index"> -->
				<div *ngIf="playlistItems[0]; else noCore"
					id="core"
					class="media-item"  
					(click)="onOpenImage(0)" 
					style="background-image: url('{{ playlistItems[0].imagePath }}');">
				</div>
				<ng-template #noCore>
					<div
						id="core"
						class="media-item">
					</div>
				</ng-template>
				<div *ngIf="playlistItems[1]; else noItem2"
					id="item2"
					class="media-item"  
					(click)="onOpenImage(1)" 
					style="background-image: url('{{ playlistItems[1].imagePath }}');">
				</div>
				<ng-template #noItem2 >
					<div
						id="item2"
						class="media-item">
					</div>
				</ng-template>
				<div *ngIf="playlistItems[2]; else noItem3"
					id="item3"
					class="media-item"  
					(click)="onOpenImage(2)" 
					style="background-image: url('{{ playlistItems[2].imagePath }}');">
				</div>
				<ng-template #noItem3 >
					<div
						id="item3"
						class="media-item">
					</div>
				</ng-template>
				<div *ngIf="playlistItems[3]; else noItem4"
					id="item4"
					class="media-item"  
					(click)="onOpenImage(3)" 
					style="background-image: url('{{ playlistItems[3].imagePath }}');">
				</div>
				<ng-template #noItem4 >
					<div
						id="item4"
						class="media-item">
					</div>
				</ng-template>
				
				<div *ngIf="playlistItems[4]; else noItem5"
					id="item5"
					class="media-item"  
					(click)="onOpenImage(4)" 
					style="background-image: url('{{ playlistItems[4].imagePath }}');">
				</div>
				<ng-template #noItem5 >
					<div
						id="item5"
						class="media-item">
					</div>
				</ng-template>
				

			<!-- </div> -->
			<!-- <div 
				class="media-item" 
				(click)="onOpenImage(i)"
				style="background-image: url('{{ item.imagePath }}');"></div>
		</div> -->

		<!-- <div class="single-view" *ngIf="playlistItems.length < 1"> -->
			<!-- <div class="media-item" >
				<img src="" alt="" class="img-responsive">
			</div> -->
		 
		</div>
		<ng-template #empty>
			<div class="single-view">
				<div
					id="core"
					class="media-item">
				</div>
				<div
					id="core"
					class="media-item">
				</div>	
				<div
					id="core"
					class="media-item">
				</div>
				<div
					id="core"
					class="media-item">
				</div>
				<div
					id="core"
					class="media-item">
				</div>
			</div>	
		</ng-template>
	</div>
</div>
