.pl-page {
    background-color: rgb(255, 255, 255);
    display: flex;
    position: absolute;
    bottom: 0;
    top: 65px;
    right: 0;
    left: 70px;
    z-index: -1;
    /* padding: 2em; */
    flex-flow: column;
}

.media {
    margin: 3em;
}

.subheader {
    display: flexbox;
    color: rgb(147, 147, 147);
    letter-spacing: 1px;
}

.single-view {
    display: flex;
    justify-content: space-evenly;
    border: solid;
    margin: 100px 0;
}

.media-item {
    display: flexbox;
    background-image: url('/assets/image.png');
    background-position: center;
    background-size: cover;
    width: 15vw;
    height: 15vw;
    border: solid;
    margin: 10px;
    cursor: pointer;
}

nav {
    /* display: block; */
    color: rgb(97, 97, 97);;
    letter-spacing: 1px;
    /* background-color: rgb(97, 97, 97); */
    border-radius: unset;
}

.navbar {
    color: rgb(147, 147, 147);
    letter-spacing: 1px;
    background-color: whitesmoke;
    border-radius: unset;
}

.btn {
    color: rgb(190, 190, 190);
    background-color:  rgba(27, 27, 27, 0.534);
    margin: 5px;
    /* opacity: 0.6; */
}

#core {
    /* display: flexbox; */
    background-image: url('/assets/image.png');
    background-position: center;
    background-size: cover;
}

#item1 {
    display: flexbox;
    background-image: url('/assets/image.png');
    background-position: center;
    background-size: cover;
}

#item2 {
    display: flexbox;
    background-image: url('/assets/image.png');
    background-position: center;
    background-size: cover;

}

#item3 {
    display: flexbox;
    background-image: url('/assets/image.png');
    background-position: center;
    background-size: cover;

}

#item4 {
    display: flexbox;
    background-image: url('/assets/image.png');
    background-position: center;
    background-size: cover;

}

i {
    padding-left: 1em;
    opacity: 0.5;
    cursor: pointer;
}