<div class="form-page">
    <div class="subheader">
        <h4>Create Playlist</h4>     
        <ol>
            <li role="presentation" routerLinkActive="active">
                <a routerLink="/create-playlist">Enter Title (this may be changed later)</a>
            </li>
            <li role="presentation" routerLinkActive="active">
                <a routerLink="/create-playlist/core">Add Core media</a>
            </li>
            <li role="presentation" routerLinkActive="active">
                <a routerLink="/create-playlist/add-media">Fill playlist with media!</a>
            </li>
        </ol>
    </div>
    <div class="create-pl">
        <div>
        <!-- <div *ngIf="mode != 'dataForm'"> -->
            <div>
                <h3>{{ title }}</h3>
                <p>{{ description }}</p>
            </div>
            <span class="badge bg-secondary" *ngFor="let tag of tags">
                {{ tag.name }}
            </span>
            
        </div>
        <div>
            <router-outlet></router-outlet>
        </div>    
    </div>
</div>

