<div class="form-page">
    <div class="subheader">
        <h4>Create Playlist</h4>     
        <ol>
            <li>Enter Title (this may be changed later)</li>
            <li>Add Core media</li>
            <li>Fill playlist with media!</li>
        </ol>
    </div>
    <div class="create-pl">
        <div *ngIf="mode != 'dataForm'">
            <div>
                <h3>Title</h3>
                <p>Description</p>
            </div>
            <div>
                <h5>Tags</h5>
                <!-- <h5 *ngFor="tag of tags">{{tag.name}}</h5> -->
            </div>
            
        </div>
            <router-outlet></router-outlet>
    </div>
</div>

