
<div class="container-fluid">
  
    <div class="pl-form">
        <form [formGroup]="createPlaylistForm" (ngSubmit)="onSubmit()">
            
                <div class="row">
                    <div class="col-md-12">
                        <label for="title">Title: </label>
                            <input 
                                type="text" 
                                id="title"
                                formControlName="title"
                                value="New Playlist"
                                class="form-control"/>
                                <span 
                                    *ngIf="!createPlaylistForm.get('title').valid && 
                                    createPlaylistForm.get('title').touched"
                                    class="help-block">Please enter a Title!
                                </span>
                    </div>
                </div>
                <div class="row tags">
                        <app-tag-form></app-tag-form>
                </div>

                <div class="row">
                    <div class="col-xs-12 desc">
                        <label for="description">Description:</label>
                            <textarea 
                                formControlName="desc"
                                id="desc"
                                class="form-control"  
                                rows="2">
                            </textarea>
                    </div>       
                </div>  

                <!-- <div class="row">
                    <div class="col-xs-8">
                        <label for="description">Item 1:</label>
                            <input 
                                type="text" 
                                id="item1"
                                formControlName="item1"
                                class="form-control"/>
                    </div>       
                </div>  

                <div class="row">
                    <div class="col-xs-8">
                        <label for="description">Item 2:</label>
                            <input 
                                type="text" 
                                id="item1"
                                formControlName="item2"
                                class="form-control"/>
                    </div>       
                </div> 

                <div class="row">
                    <div class="col-xs-8">
                        <label for="description">Item 3:</label>
                            <input 
                                type="text" 
                                id="item1"
                                formControlName="item3"
                                class="form-control"/>
                    </div>       
                </div> 

                <div class="row">
                    <div class="col-xs-8">
                        <label for="description">Item 4:</label>
                            <input 
                                type="text" 
                                id="item1"
                                formControlName="item4"
                                class="form-control"/>
                    </div>       
                </div> 

                <div class="row">
                    <div class="col-xs-8">
                        <label for="description">Item 5:</label>
                            <input 
                                type="text" 
                                id="item1"
                                formControlName="item5"
                                class="form-control"/>
                    </div>       
                </div>  -->
                <app-items-form></app-items-form>
                
                <div class="create-btn">
                    <button 
                        class="btn" 
                        type="submit"
                        [disabled]="!createPlaylistForm.valid"
                        >CREATE</button>
                </div> 
        </form>
    </div>
</div>
